* {
  margin: 0;
  padding : 0;
  box-sizing: border-box;
  font-family: 'time news roman', sans-serif;
  
}
body{
    background-color: #121212;
    color: #fff;
    line-height: 1.6;
    height: 100vh;

}
.logo{
  font-size: 1.8rem;
  font-weight: bold;
  color: #1D8954;
}
nav a{
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
}
.hero{
  text-align: center;
  padding: 100px 20px;

}